<div class="card">
    <div class="card-header">
      <!-- <span class="state-a-livrer" *ngIf="state.ALIVRER === ligne.state">{{ligne.state}}</span>
      <span class="state-en-cours" *ngIf="state.ENCOURS === ligne.state">{{ligne.state}}</span>
      <span class="state-livree" *ngIf="state.LIVREE === ligne.state">{{ligne.state}}</span> -->
      <span [appState] = "ligne.state">{{ligne.state}}</span>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ligne.name}}</h5>
      <p class="card-text">{{ligne.reference}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
